/* Invoice CSS file */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

body {
  max-width: 60%;
  margin: auto;
}

table {
  margin: auto;
}

button {
  margin: 1rem;
  border: none;
  padding: 0.7rem;
  background-color: darkred;
  color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

button:hover {
  background-color: darkred;
  opacity: .9;
}

.hidden {
  display: none;
}

.printonly {
  display: none;
}

.sizes {
  width: 100px;
}

.fcontainer {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
}

.childbox {
  margin: auto;
}

.fcenter {
  display: flex;
  justify-content: center;
}

.tar {
  text-align: right;
}

.totals {
  font-weight: bold;
  color: red;
}

.fright {
  display: flex;
  justify-content: flex-end;
}

span[required=required]:after,
form textarea[required=required]:after
{
    color: red;
    content: " *";
}

.processingLine div{
  display: inline-block;
}

.mainborder {
  padding: 5px;
  border: 3px solid rgba(203, 14, 14, 0.6);
}

.mainborder label, input {
  margin: 2px 0px;
}

.fullspan {
  min-width: 100%;
}

.ma3 {
  margin: 1rem;
}

.mh3 {
  margin: 0rem 2rem;
}

.mv3 {
  margin: 1rem 0rem;
}

.minw {
  min-width: 400px;
}

footer p {
  font-weight: bold;
  color: darkred;
}

.spacer {
  margin: 5rem;
}

input[type=text], input[type=number], input[type=date], input[type=checkbox], select, textarea {
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, input[type=number]:focus, input[type=date]:focus, input[type=checkbox]:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(240, 122, 122, 1);
  border: 1px solid rgba(240, 122, 122, 1);
}