/* Print Style Sheet */
body{
  visibility: hidden;
}

.printThis {
  visibility: visible;
}

.webonly {
  display: none;
}

.sigline{
  margin: 5px;
  padding: 5px 10px;
  border-bottom: 2px solid lightcoral;
}